@import "default/theme-color";

.btn-primary {
  background-color: $primary;
  color: white;
  border-color: $primary;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: white;
    color: $primary;
    border-color: $primary;
    box-shadow: 1px 1px $primary;
    outline: none;
  }
}
.btn-delete {
  background-color: $delete;
  color: white;
  border-color: $primary;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: white;
    color: $delete;
    border-color: $delete;
    box-shadow: 1px 1px $delete;
    outline: none;
  }
}
